.flat-loading-bar {
    width: 0;
    height: 2.5px;
    border-radius: 0 20px 50px 0;
    box-shadow: 0px 0px 3px hsl(141, 25%, 47.9%);
    background-color: #23d160;
    transition: width 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.top-loading-bar-container {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
