.br-25 {
    display: block;
    height: 2.5px;
}

.br-50 {
    display: block;
    height: 5px;
}

.fw-500 {
    font-weight: 500;
}

.divider-10 {
    display: block;
    height: 1px;
    background-color: #F8F8F8;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}